html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  color: #151618;
  font-size: 20px;
  line-height: normal;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  padding: 0;
  border: none;
  background: transparent;
}

ul{
list-style: none;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title{
  text-align: center;
  margin-bottom:  60px;
  font-family: 'Cormorant', serif;
  font-size: 40px;
  font-weight: 400;
}

.header__inner{
  display: flex;
  align-items: center;
  min-height: 140px;
  justify-content: space-between;
  padding: 30px 0;
}

.logo{
  margin-bottom: 35px;
}

.menu__btn span{
  background-color: #000;
  height: 2px;
  width: 100%;
}
.menu__btn{
  display: none;
  height: 20px;
  width: 40px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.menu--close{
  display:none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .5);
  z-index: 1;
  transition: background-color .3s ease;
}

.menu--close.menu--open{
  display: block;
}

.mobile-nav, 
.menu__close{
  display: none;
}


.menu__list{
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
  font-family: 'Cormorant', serif;
  position: relative;
  z-index: 3; 
}

.user-actions{
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search{
  margin-left:80px;
}

.top{
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;

}

.top__inner{
  max-width: 500px;
  color: #fff;
  font-weight: 400;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top__title{
  font-size: 60px;
  font-family: 'Cormorant', serif;
  margin-bottom: 20px;
  max-width: 780px;
  line-height: 1;
  font-weight: 400;
}

.top__text{
  font-size: 24px;
  font-family: 'Cormorant', serif;
  margin-bottom: 48px;
  max-width: 560px;
}

.blockquote__text{
  text-align: center;
  font-size: 40px;
  font-style: italic;
  font-family: 'Cormorant', serif;
  max-width: 704px;
  margin: 60px auto;
}

.assortment{
  margin-bottom: 150px;
}

.assortment__list{
  text-align: center;
  display: flex;
  gap: 0 40px;
}
.assortment__img{
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}
.assortment__name {
  font-size: 24px;
  padding-top: 10px; 
  font-weight: 400;
  font-family: 'Cormorant', serif;
}

.reviews{
  background-color: #F7F2EA;
  padding: 60px 0;
}

.reviews__list{
  gap: 0 26px;
  display: flex;
  justify-content: center;
  padding: 0 0;
}
.reviews__item{
  flex-basis: 280px;
} 
.reviews__text {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}
.reviews__name{
  font-weight: 600;
}

.main-blog{
  padding: 150px 0;
}
.main-blog__item-content{
  display: flex;
  flex-direction: column;
}
.main-blog__list{
  display:flex;
  flex-wrap: wrap;
  gap: 40px 58px;
}
.main-blog__item{
  flex-basis: 542px;
  display: flex;
  gap: 0 20px;
}
.main-blog__item-title{
  font-family: 'Cormorant', serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  min-height: 86px;
}
.main-blog__item-author{
  font-size: 13px;
}
.main-blog__item-link{
  font-size: 13px;
  margin-top: auto;
  position: relative;
}
.main-blog__item-link::after{
  content: '';
  background-image: url(../images/icon.svg);
  width: 5px;
  height: 10px;
  margin-left: 8px;
  position: absolute;
  bottom: 3px;
}
.main-blog__link{
  padding: 12px 41px;
  border: 1px solid #151618;
  display: flex;
  justify-content: center;
  margin: 72px auto 0;
  width: 152px;
}
.mailing-list{
  padding: 100px 0;
  background-color: #F7F2EA;
  background-image: url(../images/tea.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.mailing-list__title{
text-align: center;
}
.mailing-list__inner{
  gap: 60px 40px;
  display: flex;
}
.mailing-list__text{
  line-height: 1.5;
  flex-basis: 580px;
}
.mailing-list__form{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 580px;
}
.mailing-list__email{
  border: none;
  border-bottom: 1px solid #B8B58B;
  background-color: transparent;
  padding: 3px 15px;
  width: 438px;
  margin-right: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #151618;
}
.mailing-list__email::placeholder{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #B8B58B;
}
.mailing-list__btn{
  background: #fff;
  border: 1px solid #151618;
  padding: 12px 41px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.checkbox-text{
  font-size: 13px;
  padding-left: 20px;
}
.checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding-left: 20px;
}
.checkbox-style{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
  margin-top: 5px;
}
.mailing-list__label{
  margin-top: 16px;
}
.checkbox:checked + .checkbox-style::before{
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #151618;
  top: 1px;
  left: 1px;
}
.prioritise{
  padding: 150px 0;
}
.prioritise__list{
  display: flex;
  text-align: center;
  gap: 30px 49px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.prioritise__title{
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
}
.prioritise__text{
  font-weight: 600;
  margin-bottom: 30px;
}









@media(max-width: 1000px){
  .user-actions__item-search{
    margin-left: 30px;
  }
  .menu__list{
    margin-left: 0;
  }
  .menu{
    margin-right: auto;
  }
  .logo{
    margin-bottom: 0;
  }
  .header__inner{
    min-width: auto;
  }
  .assortment__list{
    gap: 0;
  }
  .assortmassortment{
    margin-bottom: 120px;
  }
  .reviews__item:last-child{
    display: none;
  }
  .main-blog{
    padding: 120px 0;
  }
  .main-blog__item-img{
    max-width: 230px;
  }
  .main-blog__item{
    flex-basis: 460px;
  }
  .main-blog__list{
    gap: 20px 67px;
  }
  .main-blog__link{
    margin-top: 60px;
  }
  .mailing-list__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .mailing-list{
    padding: 60px 0;
  }
  .mailing-list__text{
    text-align: center;
    flex-basis: 780px;
  }
  .mailing-list__title{
    text-align: center;
  }
  .prioritise{
    padding: 120px 0;
  }
  .prioritise__list{
    gap: 30px 210px;
  }
}

@media(max-width: 860px){
  .menu__list{
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform .7s ease;
    
  }
  .menu__list.menu__list--open{
    transform: translateY(0%);
    padding:  20px 0 0 0;
  }
  .menu__btn {
    display: flex;
    order: -1;
  }
  .menu{ 
    order: -1;
    margin-right: 0;
  }
  .menu__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item{
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Cormorant', serif;
  }
  .mobile-menu{
    padding: 60px 0 0 0;
    margin: 60px 30px 60px;
    border-top: 2px solid #F7F2EA; 
  }
  .mobile-menu__item{
    margin-bottom: 35px;
  }
  .mobile-actions{
    background-color: #E7F2EA;
    height: 60px;
    padding: 0 80px;display: flex;
    justify-content: space-between;
  }
  .mobile-actions__item{
    padding: 15px 0;
  }
  .logo{
    margin-left: auto;
    margin-right: 154px;
  }
  .header__inner{ 
    padding: 0 64px;
  }
  .mobile-nav, 
  .menu__close{
  display: block;
}
  .title{
    margin-bottom: 40px;
  }

}

@media(max-width: 768px){
  .header__inner{ 
    padding: 0 0;
  }
  .menu{
    margin: 0;
  }
  .logo{
    margin-left: auto;
    margin-right: 154px;
  }
  .blockquote__text{
    max-width: 640px;
  }
  .assortment__list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews__item:last-child{
    display: block;
  }
  .reviews__list{
    flex-wrap: wrap;
    gap: 30px 76px;
  }
  .main-blog__item{
    flex-basis: 542px;
  }
  .main-blog__item-img{
    max-width: 270px;
  }
  .main-blog__list{
    gap: 30px 20px;
  }
  .main-blog__item:nth-child(even){
    margin-left: 98px;
  }
  .mailing-list__text{
    flex-basis: 640px;
  }
  .prioritise__list{
    gap: 30px 133px;
  }
}

@media(max-width: 680px){
  .container{
    padding: 0 10px;
  }
  .top__title{
    font-size: 40px;
  }
  .blockquote__text{
    font-size: 20px;
    max-width: 376px;
    margin: 60px auto;
  }
  .reviews__item{
    flex-basis: 210px;
  }
}

@media(max-width: 480px){
  .blockquote__text{
    font-size: 16px;
  }
  .logo{
    margin-right: 80px;
  }
  .logo img{
    width: 40px;
  }
  .menu__list{
    width: 360px;
  }
  .assortment__list{
    margin-bottom: 60px;
  }
  .reviews__list{
    gap: 30px 20px;
  }
  .reviews{
    padding: 50px 0;
  }
  .reviews__item{
    flex-basis: 100%;
  }
  .reviews__item.reviews__item-hide{
    display: none;
  }
  .main-blog{
    padding: 60px 0;
  }
  .main-blog__item-img{
    max-width: 230px;
  }
  .mailing-list{
    padding: 50px 0;
  }
  .mailing-list__text{
    font-size: 13px;
    flex-basis: 100%;
  }
  .mailing-list__inner{
    gap: 30px 0;
  }
  .mailing-list__email{
    max-width: 324px;
    margin-right: 20px;
  }
  .mailing-list__btn{
    padding: 10px 39px;
  }
  .prioritise{
    padding: 60px 0;
  }
}

@media(max-width: 360px){
  .logo{
    margin-right: 50px;
  }
  .user-actions__item-search{
    margin-left: 0;
  }
  .header__inner{
    padding: 10px 0;
  }
  .top__title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text{
    font-size: 15px;
    margin-bottom: 30px;
  }
  .top__inner{
    min-width: 367px;
  }
  .blockquote__text{
    max-width: 340px;
    margin: 70px 0 80px;
  }
  .assortment__img{
    max-width: 170px;
  }
  .assortment__list{
    margin-bottom: 80px;
  }
  .title{
    margin-bottom: 30px;
    font-size: 24px;
  }
  .main-blog{
    padding: 50px 0;
  }
  .main-blog__item{
    display: block;
    max-width: 270px;
  }
  .main-blog__item-img{
    max-width: 100%;
  }
  .main-blog__item.main-blog__item::nth-ch(even){
    display: none;
  }
  .main-blog__list{
    justify-content: center;
  }
  .main-blog__item-title{
    min-width: auto;
  }
  .mailing-list__email{
    width: 205px;
  }
  .prioritise{
    padding: 50px 0;
  }
  ..prioritise__title{
    font-size: 20px;
  }
  .prioritise__text{
    font-size: 10px;
    font-weight: 400;
  }
  .prioritise__list{
    gap: 40px 100px;
  }
}